
/* text to show type of list */
.list-type{
    margin: 4vh 2vw;
    width: max-content;
    padding: 0 2vw;
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 3px solid var(--text-color);
    display: inline;
}


/* Movie list grid */
.movie-list{
    width: 92vw;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw;
}

/* The poster */
.movie-list .movie{
    height: 50vh;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 10px #000;
}

/* Poster image */
.movie .image{
    position: relative;
    height: 100%;
    width: 40%;
    overflow: hidden;
    cursor: pointer;
}

/* Blck box on hover */
.image .black-box{
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    opacity: 0;
}
.movie .image:hover .black-box{
    opacity: 0.7;
}
.movie .image img{
    width: 100%;
}

/* Movie details side */
.movie .details{
    position: relative;
    overflow-y: scroll;
    height: 100%;
    width: 60%;
    padding: 10px;
    background-color: #eeeeee;
    color: #000;
}

.details .title{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.details .title span{
    font-size: 1rem;
    font-weight: 500;
}

.details .reting{
    font-size: 1.3rem;
}

.details .reting span{
    font-size: 1rem;
}

.details .desc{
    font-size: 1rem;
    text-align: justify;
}

.details .view-more{
    font-size: 1rem;
    color: var(--main-theme-color);
}

/* page change box */
.page-change{
    display: flex;
    width: 15vw;
    justify-content: space-between;
    margin: 10vh auto;
}

.page-change button{
    width: 5vw;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #000;
}

.page-change button:enabled:hover{
    background-color: var(--main-theme-color);
    color: var(--sec-text-color);
}

@media only screen and (max-width: 720px) {
/* text to show type of list */
.list-type {
    margin:4vh 3vw 4vh 3vw;
    padding: 0 2vw;
    font-size: 1.2rem;
    border-bottom: 2px solid #fff;
}



/* Movie list grid */
.movie-list{
    width: 96vw;
    min-height: 100vh;
    grid-template-columns: 1fr;
    gap: 3vw;
}

/* The poster */
.movie-list .movie{
    height: 25vh;
}

/* Movie details side */

.details .title{
    font-size: 1.2rem;
    line-height: 1rem;
}

.details .title span{
    font-size: 0.7rem;
}

.details .genre{
    font-size: 0.8rem;
}

.details .reting{
    font-size: 1rem;
}

.details .reting span{
    font-size: 0.7rem;
}

.details .desc{
    font-size: 0.8rem;
    text-align: left;
}

/* page change box */
.page-change{
    width: 50vw;
    margin: 5vh auto 10vh auto;
}

.page-change button{
    width: 20vw;
}
}