

/* Css for banner at top */
/* Should be no overflow + relative display to aligh child elements absulitely relative to this */
.carousel-item {
    overflow: hidden;
    height: 70vh;
    width: 100%;
    position: relative;
}


/* banner image crop it from midddle if it is bigger */
.carousel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    width: 100%;
}

/* Banner details */
.carousel-item .banner-details {
    color: #fff;
    position: absolute;
    bottom: 6vh;
    left: 4vw;
    text-shadow: 3px 3px 10px #000;
}

.banner-details .banner-title {
    font-weight: 700;
    font-size: 2.8rem;
}

.banner-details .banner-genres {
    margin-top: -5px;
    font-size: 1.2rem;
}

.banner-details .banner-rating .banner-stars {
    font-size: 2rem;
}

.banner-details .banner-view-more {
    width: 200px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-theme-color);
    color: var(--sec-text-color);
    box-shadow: 3px 3px 10px #000;
}

.banner-details .banner-view-more:hover {
    background-color: var(--main-theme-hover);
}


/* Main Movie lists */
/* Type title */
.list-type {
    margin: 4vh 2vw;
    width: max-content;
    padding: 0 2vw;
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 3px solid var(--text-color);
}

/* The Grid itself */
.movie-grid {
    width: 92vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    margin-bottom: 5vh;
    min-height: 80vh;
}

/* Movie poster */
.movie-grid .movie {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sec-text-color);

}

.movie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie .movie-info {
    position: absolute;
    bottom: 5px;
    left: 5%;
    text-shadow: 1px 1px 5px #000;
}

.movie-info .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
}

/* View more link that comes on hover only */
.view-more {
    position: absolute;
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000d3;
    color: #fff;
    opacity: 0;
}

/* Display view more */
.movie:hover .view-more {
    opacity: 1;
}

/* Load more button at the bottom of every list */
.load-more {
    display: block;
    margin: 0 auto 20vh auto;
    width: 20vw;
    border: none;
    height: 30px;
    border-radius: 5px;
    background-color: var(--main-theme-color);
    color: var(--sec-text-color);
}

/* i is arrow symbol inside button */
.load-more i {
    font-size: 0.7rem;
}

.load-more:hover {
    width: 25vw;
    background-color: var(--main-theme-hover);
}


/* Info on favourite poage and link to go back to homepage if there are no favorites  */
.no-favs{
    display: block;
    width: 90vw;
    font-size: 1.2rem;
}

.no-favs a{
    display: block;
    color: var(--main-theme-color);
}
.no-favs a:hover{
    color: var(--main-theme-hover);
}

/* Responsiveness */
@media only screen and (max-width: 720px) {
    
/* Css for banner at top */
.carousel-item {
    height: 30vh;
}


/* Banner details */
.carousel-item .banner-details {
    position: absolute;
    bottom: 0.5vh;
}

.banner-details .banner-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.banner-details .banner-genres {
    font-size: 1rem;
}

.banner-details .banner-rating .banner-stars {
    font-size: 1.2rem;
}

.banner-details .banner-view-more {
    width: 140px;
    height: 30px;
}

/* Main Movie lists */
/* Type title */
.list-type {
    margin: 4vh 3vw;
    padding: 0 2vw;
    font-size: 1.2rem;
    border-bottom: 2px solid #fff;
}

/* The Grid itself */
.movie-grid {
    width: 96vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    margin-bottom: 5vh;
}

/* Movie poster */
.movie-grid .movie {
    height: 30vh;
    border-radius: 2px;
}

.movie-info .title {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

/* Load more button at the bottom of every list */
.load-more {
    margin: 0 auto 4vh auto;
    width: 50vw;
    border-radius: 2px;
}
.load-more:hover {
    width: 75vw;
    background-color: var(--main-theme-hover);
}
}