body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
    justify-content: center;
    color: var(--text-color);
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background img {
    width: 100%;
    min-height: 100%;
}

.dark-blur {
    height: 100vh;
    width: 120vw;
    position: fixed;
    background: linear-gradient(90deg, #000000d6, 50%, transparent);
    z-index: 1;
    left: 0;
    top: 0;
}

.welcome-text {
    z-index: 999;
    margin-left: 5vw;
}

.welcome-text h1 {
    font-size: 5rem;
}


.welcome-text h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.buttons {
    z-index: 999;
    display: flex;
    margin-left: 5vw;
}

.buttons button {
    margin: 20px 3px;
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000;
}

.buttons button:hover {
    background-color: #c3c3c3;
}

.buttons a:nth-child(even) button {
    background-color: var(--main-theme-color);
    color: #fff;
}

.buttons a:nth-child(even) button:hover {
    background-color: var(--main-theme-hover);
}

@media only screen and (max-width: 720px) {
    body {
        align-items: center;
    }

    .background img {
        height: 100%;
        width: auto;
    }

    .welcome-text {
        margin-top: -15vh;
    }

    .welcome-text h1 {
        font-size: 3.2rem;
    }

    .welcome-text h4 {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    .buttons {
        align-items: center;
        flex-direction: column;

    }

    .buttons button {
        margin: 10px;
    }
}