.right-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}

.top-sec {
    display: flex;
    justify-content: space-between;
    padding: 2vh 20px;
    font-weight: 900;
    height: 10vh;
}

.top-sec h3 {
    font-weight: 900;
}

.top-sec div {
    font-size: 0.8rem;
    height: 20px;
    width: 100px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    cursor: pointer;
}

.welcome-sec {
    height: 20%;
}

.welcome-sec h1 {
    font-size: 4rem;
    margin-bottom: -15px;
    font-weight: 800;
}


.welcome-sec p {
    font-size: 0.6rem;
}


.login-register-sec {
    display: flex;
    width: 100vw;
    height: 70%;

}

.login-register-sec .login-sec {
    width: 50%;
}

.login-sec {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-sec .loginWithG,
.login-sec input {
    height: 6vh;
    width: 70%;
    overflow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0.6px solid var(--bg-color);
    background-color: var(--text-color);
    margin: 8px;
    padding-left: 25px;
    outline: none;
    color: var(--bg-color);

}

.login-sec .loginWithG {
    cursor: pointer;
}

.login-sec input::-webkit-input-placeholder {
    color: #404040;
}



.loginWithG img {
    height: 50%;
    margin: 0 10px;
}

.login-sec .or {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    margin: 10px;
}

.or .line {
    width: 20%;
    height: 1px;
    background-color: var(--text-color);
    margin: auto 20px;
}

.login-sec .forget-pass {
    width: 75%;
    text-align: right;
    height: 6vh;

}

a {
    color: var(--main-theme-color);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.login-sec .login {
    height: 6vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: var(--main-theme-color);
    color: var(--text-color);
    margin-bottom: 20px;
    cursor: pointer;
}

.login-sec #register {
    margin-top: 6vh;
}

.login-sec .login:hover {
    background-color: var(--main-theme-hover);
}

.left-container {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    height: 100vh;
    width: auto;
}



.next-prev-btns {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 10vw;
    font-size: 1.5rem;
}

.next-prev-btns button i {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}


@media only screen and (max-width: 720px) {
    body {
        flex-direction: column;
    }

    .right-container {
        width: 100vw;
        min-height: 50vh;
    }


    .login-register-sec {
        display: flex;
        width: 200vw;
    }

    .login-sec .loginWithG,
    .login-sec input {
        width: 90%;
    }

    .login-sec .login {
        width: 90%;
    }

    .or .line {
        width: 30%;
    }

    .left-container {
        width: 100vw;
        height: min-content;
        margin-top: -9vh;
    }

    #carouselExampleDark {
        width: 100vw;
        height: min-content;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
    }



    .next-prev-btns {
        width: 20vw;
    }

}